.withdrawal-review-container{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
}
.left-withdrawal-review-card{
    width: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(237, 237, 255);
}
.right-withdrawal-review-card{
    width: 65%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding:30px;
    align-self: flex-start;
    border: 2px solid rgb(237, 237, 255);
    text-align: left;
}
.review-left-card-tab{
    margin: 5px 0px;
    border: 1.5px solid rgb(240, 240, 240);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-left-card-tab p{
    width: 80%;
    text-align: left;
}
.left-withdrawal-review-card{
    padding: 20px 10px;
}
.review-withdraw-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.right-withdrawal-review-card p{
    margin-right: auto;
    margin-bottom: 10px;
}
.review-withdraw-form label{
    margin-right: auto;
    color: rgb(125, 125, 125);
    text-transform: capitalize;
    font-family: roboto;
    font-size: .9rem;
}
.review-withdraw-form input:focus{
    border: 1.5px solid rgb(210, 214, 255);
}
.review-withdraw-form input{
    height: 45px;
    width: 80%;
    border: 1.5px solid #ddd;
    border-radius: 3px;
    outline: none;
    padding: 0px 20px;
    margin:10px auto 20px 0px;
}
.confirm-withdraw-btn{
    background-color:var(--secondary-color) ;
    transition: .2s all ease-in-out;
    color: white;
    cursor: pointer;
}
.confirm-withdraw-btn:hover{
    background-color:rgb(65, 80, 252) ;
    color: white;
}
.mobile-swiper-container{
    display: none;
}
.overlay-modal{
    width: 100%;
    height: 110vh;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7ff;
}
.overlay-card {
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    align-self: center;
}
.overlay-card svg{
    font-size: 3rem;
    color: var(--color-variant);
    margin-bottom: 15px;
}
.cookieHeading {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(97, 81, 81);
    text-transform: capitalize;
    width: 70%;
    font-family: 'poppins';
}

.cookieDescription {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(99, 99, 99);
}

.cookieDescription a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246);
}

.cookieDescription a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.acceptButton {
    background-color: var(--color-variant);
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    transition: all .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 50px;
}

.declineButton {
    padding: 15px 50px;
    background-color: #dadada;
    transition-duration: .2s;
    color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
    transition: all .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
}

.declineButton:hover {
    background-color: #ebebeb;
    box-shadow: 0 10px 15px -3px #bebdbd, 0 4px 6px -2px #bebdbd;
    transition-duration: .2s;
}

.acceptButton:hover {
    background-color: var(--color-variant);
    box-shadow: 0 10px 15px -3px #ddd, 0 4px 6px -2px white;
    transition-duration: .2s;
}
.bank-modal {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
}

.bank-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
}

.payment--options button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
}

.payment--options button svg {
    height: 18px;
}

.payment--options button:last-child svg {
    height: 22px;
}

.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
}

.separator>p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
}

.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bank-form .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 100%;
}

.bank-form .input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
}

.bank-form .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.bank-form .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.bank-form .input_field::-webkit-outer-spin-button,
.bank-form .input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bank-form .input_field[type=number] {
    -moz-appearance: textfield;
}
.bank-form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
@media (max-width: 990px) and (min-width: 768px){
    .my-slide{
        width: 100% !important;
    }
    .swiper-container{
        width: 100%;
        display: none;
    }
    .mobile-swiper-container{
        display: block;
    }
}
@media screen and (max-width: 767px){
    
    .my-slide{
        width: 100% !important;
    }
    .swiper-container{
        width: 100%;
        display: none;
    }
    .mobile-swiper-container{
        display: block;
    }
}