footer{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1900' preserveAspectRatio='none' viewBox='0 0 1440 1900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='1900' x='0' y='0' fill='rgba(81%2c 46%2c 95%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c540.063C100.26%2c531.56%2c185.834%2c475.264%2c271.063%2c421.782C357.185%2c367.739%2c446.104%2c314.844%2c498.122%2c227.484C553.488%2c134.5%2c568.328%2c26.071%2c571.102%2c-82.112C574.317%2c-207.518%2c608.686%2c-362.722%2c515.405%2c-446.601C419.816%2c-532.555%2c266.237%2c-458.024%2c138.366%2c-471.231C39.182%2c-481.475%2c-54.726%2c-540.069%2c-151.355%2c-515.467C-249.32%2c-490.525%2c-314.908%2c-405.864%2c-388.902%2c-336.986C-471.987%2c-259.646%2c-573.022%2c-194.865%2c-610.772%2c-87.816C-651.986%2c29.055%2c-665.14%2c167.921%2c-605.205%2c276.388C-546.017%2c383.503%2c-414.509%2c421.53%2c-302.315%2c470.411C-205.551%2c512.569%2c-105.171%2c548.983%2c0%2c540.063' fill='%2341254c'%3e%3c/path%3e%3cpath d='M1440 2579.913C1604.84 2622.158 1789.378 2758.393 1932.608 2666.513 2075.802 2574.657 1999.589 2342.113 2059.135 2182.75 2112.73 2039.315 2268.179 1934.676 2263.244 1781.635 2258.225 1625.988 2141.7309999999998 1497.693 2033.4360000000001 1385.7849999999999 1929.4180000000001 1278.297 1802.417 1196.583 1658.306 1156.517 1515.558 1116.83 1368.195 1131.719 1222.84 1160.422 1065.151 1191.5610000000001 877.077 1200.2060000000001 781.74 1329.614 686.427 1458.99 774.485 1641.967 750.967 1800.932 727.31 1960.833 569.249 2120.172 643.539 2263.7309999999998 718.691 2408.957 934.73 2389.395 1086.711 2449.7290000000003 1205.77 2496.994 1315.912 2548.112 1440 2579.913' fill='%23613772'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='1900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-position: center;
    overflow-y: hidden;
    color: #f2f2f2;
  }
  .trusted-patners-section{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 60px;
  }
  .trusted-patners-section h2{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .trusted-patners-img-container{
    width: 100%;
  }
  .trusted-patener-icon{
    width: 170px;
    object-fit: contain;
  }
  .quicklinks-container{
    width: 85%;
    padding: 40px 0px;
  }
  .quicklink-card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .quicklink-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 20%;
  }
  .quicklink-card a{
    text-transform: capitalize;
    color: var(--mild-color);
    font-size: .8rem;
    margin-top: 10px;
    width: 100%;
  }
  .copyright-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-top: 30px;
    margin: auto;
    text-align: left;
  }
  .copyright-txt p{
    font-size: .8rem;
    color: var(--mild-color);
  }
  .policy-txt a{
    font-size: .9rem;
    color: var(--mild-color);
    text-transform: capitalize;
    margin-left: 20px;
  }
  @media (max-width: 990px) and (min-width: 768px){
    .footer{
      height: auto;
    }
  }
  @media screen and (max-width: 767px){
    .footer{
      height: auto;
    }
    .trusted-patners-img-container{
      width: 100%;
    }
    .trusted-patener-icon{
      width: 45%;
    }
    .quicklinks-container{
      flex-direction: column;
      width: 85%;
    }
    .quicklink-card-container{
      flex-direction: column;
      margin-right: auto;
      padding: 10px;
    }
    .quicklink-card{
      width: 100%;
      align-items: flex-start;
    }
    .copyright-container{
      flex-direction: column;
      width: 95%;
      padding: 0px;
    }
    .copyright-txt{
      align-self: flex-start;
      width: 100%;
      margin-top: 20px;
    }
    .policy-txt{
      align-self: flex-start;
      padding-left: 0px;
      justify-content: space-between;
      width: 100%;
    }
    .policy-txt a{
      align-self: flex-start;
      margin-left: 0px;
      font-size: .7rem;
    }
  }